<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout">
<body>
    <div layout:fragment="content">
        <div class="hms_template blank_template">
            <div class="dashboard_wrapper">
                <div class="app_box">
                    <div class="box_info">
                        <h6>Doctor</h6>
                        <h1>10</h1>
                    </div>
                    <div>
                        <img th:src="@{/images/doctor.svg}" alt="icon">
                    </div>
                </div>
                <div class="app_box">
                    <div class="box_info">
                        <h6>Patient</h6>
                        <h1>10</h1>
                    </div>
                    <div>
                        <img th:src="@{/images/user.svg}" alt="icon">
                    </div>
                </div>
                <div class="app_box">
                    <div class="box_info">
                        <h6>Disease</h6>
                        <h1>10</h1>
                    </div>
                    <div>
                        <img th:src="@{/images/disease.svg}" alt="icon">
                    </div>
                </div>
                <div class="app_box">
                    <div class="box_info">
                        <h6>Medicine</h6>
                        <h1>10</h1>
                    </div>
                    <div>
                        <img th:src="@{/images/medicine.svg}" alt="icon">
                    </div>
                </div>
                <div class="app_box">
                    <div class="box_info">
                        <h6>Users</h6>
                        <h1>10</h1>
                    </div>
                    <div>
                        <img th:src="@{/images/user.svg}" alt="icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>