<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <body>
    <div layout:fragment="content">
      <div class="hms_template">
        <h1 class="text-blue-400 text-2xl">User Management</h1>
        <div class="flex justify-end">
          <button
            arial-target="user_form"
            class="dialog_btn_shower text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
          >
            Create User
          </button>
        </div>
        <div class="relative overflow-x-auto mt-5">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3">Id</th>
                <th scope="col" class="px-6 py-3">Name</th>
                <th scope="col" class="px-6 py-3">Email</th>
                <th scope="col" class="px-6 py-3">Password</th>
                <th scope="col" class="px-6 py-3">Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr
                th:each="user : ${users}"
                class="odd:bg-white even:bg-gray-50 border-b"
              >
                <th
                  th:text="${user.id}"
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                ></th>
                <td th:text="${user.name}" class="px-6 py-4"></td>
                <td th:text="${user.email}" class="px-6 py-4"></td>
                <td th:text="${user.password}" class="px-6 py-4"></td>
                <td class="px-6 py-4">
                  <a
                    href="#"
                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                    >Edit</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div th:replace="components/user-management/user-form-dialog.html"></div>
    </div>
  </body>
</html>
