

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>HMS SYSTEM</title>
    <!-- link css -->
    <link rel="shortcut icon" th:href="@{/images/hms_fav-icon.jpg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/global-style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/tailwind.style.css}" type="text/css">
    <!-- link js -->
    <script defer th:src="@{/js/layout.js}" type="text/javascript"></script>
    <script defer th:src="@{/js/dialog.js}" type="text/javascript"></script>
</head>
<body>
    <!-- app header -->
    <header class="app_header">
        <div>
            <button id="btn_toggle_layout" class="app_btn btn_cycle btn_text meduim">
                <img th:src="@{/images/menu.svg}" alt="icon" class="btn_icon">
            </button>
            <h4 class="app_title">Hospital Management System</h4>
        </div>
        <div>
            <div class="user_image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_Okx89kMtUx1906sUvPG5_f5Ilmz783GKzdycgy_VaonrrgVQ-fyv2Cbs6LlQfOUGvUY&usqp=CAU" alt="logo">
            </div>
            <div>
                <h4 class="txt-md" th:text="${name}"></h4>
                <p class="txt-xs mt-8px">17-03-2024 10:30:44AM</p>
            </div>
            <div class="btn_logout_wr">
                <a th:href="@{/auth/logout}">
                    <button class="app_btn btn_cycle btn_text meduim">
                        <img th:src="@{/images/logout.svg}" alt="icon" class="btn_icon">
                    </button>
                </a>
            </div>
        </div>
    </header>
    <!-- app sidebar -->
    <aside class="app_sidebar">
        <div class="sidebar_logo">
            <img th:src="@{/images/hms_logo.jpg}" alt="logo">
        </div>
        <nav class="app_navbar">
            <ul id="app_menu" class="app_menu">
                <li id="dashboard_mgmt" class="app_menu_item">
                    <a th:href="@{/dashboard}">
                        <span class="menu_icon">
                            <img th:src="@{/images/dashboard.svg}" alt="icon">
                        </span>
                        <span class="menu_text">Dashboard</span>
                    </a>
                </li>
                <li id="user_mgmt" class="app_menu_item">
                    <a th:href="@{/user}">
                        <span class="menu_icon">
                            <img th:src="@{/images/user.svg}" alt="icon">
                        </span>
                        <span class="menu_text">User</span>
                    </a>
                </li>
                <li id="employee_mgmt" class="app_menu_item">
                    <a th:href="@{/employee}">
                        <span class="menu_icon">
                            <img th:src="@{/images/doctor.svg}" alt="icon">
                        </span>
                        <span class="menu_text">Employee</span>
                    </a>
                </li>
                <li id="patient_mgmt" class="app_menu_item">
                    <a th:href="@{/patient}">
                        <span class="menu_icon">
                            <img th:src="@{/images/patient.svg}" alt="icon">
                        </span>
                        <span class="menu_text">Patient</span>
                    </a>
                </li>
                <li id="medicine_mgmt"  class="app_menu_item">
                    <a th:href="@{/medicine}">
                        <span class="menu_icon">
                            <img th:src="@{/images/medicine.svg}" alt="icon">
                        </span>
                        <span class="menu_text">Medicine</span>
                    </a>
                </li>
                <li id="disease_mgmt" class="app_menu_item">
                    <a th:href="@{/disease}">
                        <span class="menu_icon">
                            <img th:src="@{/images/disease.svg}" alt="icon">
                        </span>
                        <span class="menu_text">Disease</span>
                    </a>
                </li>
                <li id="room_mgmt" class="app_menu_item">
                    <a th:href="@{/room}">
                        <span class="menu_icon">
                            <img th:src="@{/images/room.svg}" alt="icon">
                        </span>
                        <span class="menu_text">Room</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="app_container">
        <div layout:fragment="content">
            <!-- render conetent here! -->
        </div>
    </div>
</body>
</html>
